[mysqld]
skip-networking=0
skip-bind-address

#
# This group is read both by the client and the server
# use it for options that affect everything
#
[client-server]

socket                  = /run/mysqld/mysqld.sock
#port                   = 3306

# Import all .cnf files from configuration directory
!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mariadb.conf.d/
